.modal {
    position: fixed;
    z-index: 200;
    /* border: 1px solid black; */
    /* box-shadow: 0 2px 2px #ccc; */
    /* background-color: white; */
    /* padding: 10px; */
    text-align: center;
    box-sizing: border-box;
    top: 20%;
    left: 30%;
    width: 40%;
    height: 60%;
}

.modal-open {
    display: block;
}

.modal-closed {
    display: none;
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: url('../../../icons/open-book.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.first-page {
    -webkit-transform: translate(-7%, -4%); 
    width: 35%;
    height: 45%;
}

.second-page {
    -webkit-transform: translate(7%, -4%); 
    top: 0%;
    width: 35%;
    height: 45%;
}